<html>
    <head>
        <title>[% title %]</title>
        <style type="text/css">
        [% IF size == 'large' %]
        #container { font-size: 120%; }
        [% ELSIF size == 'small' %]
        #container { font-size: 90%; } 
        [% END %]
        [% INCLUDE styles.css %]
        </style>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    </head>
    <body id="[% body_id %]">
        <div id="header">
            <a href="/"><img src="/static/images/mobile-logo-small.png" alt="The Tyee" border="0" /></a>
        </div>
        [% IF section %]
        <div id="section">[% section %]</div>
        [% END %]
        <div id="content">
        [% content %]
