<html>
    <head>
        <title>[% title %]</title>
        <style type="text/css">
        [% IF size == 'large' %]
        #container { font-size: 120%; }
        [% ELSIF size == 'small' %]
        #container { font-size: 90%; } 
        [% END %]
        [% INCLUDE styles.css %]
        </style>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script>
        var metas = document.getElementsByTagName('meta');
        var i;
        if (navigator.userAgent.match(/iPhone/i)) {
            for (i=0; i<metas.length; i++) {
                if (metas[i].name == "viewport") {
                    metas[i].content = "width=device-width, minimum-scale=1.0, maximum-scale=1.0";
                }
            }
            document.addEventListener("gesturestart", gestureStart, false);
        }
        function gestureStart() {
            for (i=0; i<metas.length; i++) {
                if (metas[i].name == "viewport") {
                    metas[i].content = "width=device-width, minimum-scale=0.25, maximum-scale=1.6";
                }
            }
        }
    </script>
    </head>
    <body id="[% body_id %]">
        <div id="header">
            <a accesskey="1" href="/"><img src="/static/images/mobile-logo-small.png" alt="The Tyee" border="0" /></a>
        </div>
        [% IF section %]
        <div id="section">[% blog %][% section %]</div>
        [% END %]
        <div id="content">
