            <div id="search">
                <h3>Search</h3>
                <form id="search" method="get" action="/search/">
                    <input type="text" name="query" id="search-query" />
                    <input type="submit" value="Search" />
                </form>
            </div>
